.BG {
    -fx-background-color: #B3E5FC;
}

.status {
    -fx-text-fill: #01579B;
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
}

.warningText {
    -fx-fill: #0277BD;
}

.inputSection {
    -fx-background-color: #E1F5FE;
}

.button {
    -fx-background-color: #29B6F6;
    -fx-text-fill: #E1F5FE;
    -fx-font-weight: 900;
}

.button:hover {
    -fx-background-color: #01579B;
}

.table-view {
    -fx-base: #01579B;
    -fx-control-inner-background: #01579B;
    -fx-background-color: #01579B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}